# C Barker Camera Slider v1.0 - ESP32-S3-WROOM-1-N16R8 (U6)
# SPDX-License-Identifier: Apache-2.0

config BOARD_CB_S3_SLIDER
	select SOC_ESP32S3_WROOM_N16R8
	select SOC_ESP32S3_PROCPU if BOARD_CB_S3_SLIDER_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_CB_S3_SLIDER_ESP32S3_APPCPU
